---
---
  /* Sticky footer styles
  -------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 140px;
  /* Space between body and footer */
  padding-bottom: 40px;
}

// Header
.pageHeader {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.80);
  z-index: 9999;
  .navbar {
    margin: 0;
    a {
      color: #fff;
      text-decoration: none;
    }
  }
  ul {
    padding: 12px 0 0 0;
    text-align: center;
    margin: 0;
    li {
      font-size: 12px;
      display: inline;
      padding-left: 5px;
      padding-right: 5px;
      margin: 0;
      a {
        color: #fff;
        text-decoration: none;
        &:hover {
          color: #cf293b;
        }
      }
    }
  }
}

.main-container {
  padding-top: 5.1em;

  // header offset for in page link
  // ref. http://stackoverflow.com/a/28824157/339515
  :target:before {
    content: "";
    display: block;
    height: 100px; /* fixed header height*/
    margin: -100px 0 0; /* negative fixed header height */
  }
}

.mainFooter {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 140px;
  // Copied from common.css
  background: #393939;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  padding: 20px;
  color: #fff;

  a {
    color: #fff;
  }

  ul {
    list-style: none;
    margin-bottom: 10px;
  }
}

.icon-mini {
  height: 30px;
  width: 30px;
}

.icon-medium {
  height: 50px;
  width: 50px;
}

.candidate-row {
  margin-bottom: 10px;
}

.cfp-tag {
  cursor: pointer;
}

.notice {
  .logo {
    border: 1px solid #dedede;
    width: 200px;
    height: 70px;
  }
  .notice-img-link {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 20px;
    &:hover, &:focus {
      text-decoration: none;
    }
  }
  .notice-link-btn {
    margin-top: 40px;
  }
}

.staff-entry {
  margin-bottom: 20px;
  font-size: 12px;

  h3 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 6px;
    margin-bottom: 6px;
  }
}

.youtube-wrap {
  position: relative;
  padding-bottom: 56.25%;
  width: 560px;
  max-width: 100%;
  height: 0;
}

.youtube-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.sns-button-list {
  text-align: center;
  list-style: none;
  font-size: 0;
  padding-left: 0;
}

.sns-button-list > li {
  display: inline-block;
  vertical-align: top;
  margin: 0 7px;
}

.sns-button-list > li:first-child {
  margin-left: 0;
}

.sns-button-list > li:last-child {
  margin-right: 0;
}

.sns-button-list iframe {
  margin: 0 !important;
}

@media screen and (max-width: 780px) {
  .sns-button-list > li {
    width: auto !important;
    margin: 0 4px 10px 0;
  }
}

@media screen and (max-width: 560px) {
  .jumbotron {
    padding: 30px;
  }
}
