---
layout: null
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>ScalaMatsuri 2019 | The largest international Scala conference in Asia</title>
  <meta name="description" content="The largest international Scala conference in Asia">
  <meta name="keywords" content="Scala, conference, 2019">

  <link rel="shortcut icon" href="/img/favicons/favicon.ico" type="image/vnd.microsoft.icon">
  <link rel="icon" href="/img/favicons/favicon.ico" type="image/vnd.microsoft.icon">
  <link rel="apple-touch-icon" sizes="57x57" href="/img/favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/img/favicons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/img/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/img/favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/img/favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/img/favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/img/favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/img/favicons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/img/favicons/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/img/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/img/favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/img/favicons/favicon-48x48.png" sizes="48x48">
  <link rel="icon" type="image/png" href="/img/favicons/favicon-96x96.png" sizes="96x96">
  <link rel="manifest" href="/img/favicons/manifest.json">

  <meta name="msapplication-TileColor" content="#2d88ef">
  <meta name="msapplication-TileImage" content="/img/favicons/mstile-144x144.png">

  <meta property="og:title" content="ScalaMatsuri 2019 | The largest international Scala conference in Asia"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="http://scalamatsuri.org/index_en.html"/>
  <meta property="og:image" content="http://scalamatsuri.org/img/common/img_main_txt.png"/>
  <meta property="og:site_name" content="ScalaMatsuri 2019｜The largest international Scala conference in Asia"/>
  <meta property="og:locale" content="en_US"/>
  <meta property="og:description" content="The largest international Scala conference in Asia"/>

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="">
  <meta name="twitter:creator" content="">
  <meta name="twitter:url" content="http://scalamatsuri.org/">
  <meta name="twitter:title" content="ScalaMatsuri 2019｜The largest international Scala conference in Asia">
  <meta name="twitter:description" content="The largest international Scala conference in Asia">
  <meta name="twitter:image" content="http://scalamatsuri.org/img/common/img_repre2_en.png">

  <link href="css/common.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="js/jquery.js"></script>
  <script src="js/respond.src.js"></script>
  <script src="js/shuffle.js"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

  <script type="text/javascript">
    if ((navigator.userAgent.indexOf('iPhone') > 0) || navigator.userAgent.indexOf('iPod') > 0 || navigator.userAgent.indexOf('Android') > 0) {
      document.write('<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">');
    } else {
      document.write('<meta name="viewport" content="width=device-width" />');
    }
  </script>


  <!--[if lt IE 9]>
  <script src="js/html5shiv-printshiv.js"></script>
  <![endif]-->
  <script type="text/javascript" src="js/scalamatsuri2019.js?v=v{{ site.time | date_to_xmlschema }}"></script>
  <script>
    var lang = 'en';
  </script>
</head>
<body id="top">

<div id="wrapper" class="clearfix">

  {% include index/en/main_header.html %}

  {% include index/en/main_visual.html %}

  {% include index/top_banner.html %}

  {% include program/section.html program=site.data.program_en %}

  {% include index/en/info.html %}

  {% include index/en/coc.html %}

  {% include sponsors/logos_en.html %}

  {% include index/en/social.html %}

  {% include footer.html %}

</div>
{% include ga.html %}
{% include twitter.html %}
{% include facebook_en.html %}
{% include hatena_bbutton.html %}
{% include widgetoon.js.html %}
{% include pocket.js.html %}
{% include doorkeeper.js.html %}

<div id="dialog_message"></div>
</body>
</html>
