---
---
{% capture file %}{{ include.candidate.url | replace_first:'/en/candidates/','' | replace:'/','' }}{% endcapture %}
<div class="row candidate-row" data-length="{{ include.candidate.length }}" data-language="{{ include.candidate.language }}" data-file="{{ file }}">
  <div class="col-sm-8">
    <a href="{{ include.candidate.url }}">{{ include.candidate.title }}</a>
    <span class="cfp-voting-required-signin">
      <button type="button" class="btn btn-default btn-sm add-favorites-btn" title="Pin"><i class="fa fa-thumb-tack" aria-hidden="true"></i></button>
      <button type="button" class="btn btn-default btn-sm remove-favorites-btn" title="Remove pin"><i class="fa fa-thumb-tack" aria-hidden="true"></i></button>
      <button type="button" class="btn btn-default btn-sm vote-btn" title="Vote"><i class="fa fa-star" aria-hidden="true"></i></button>
      <button type="button" class="btn btn-default btn-sm unvote-btn" title="Cancel voting"><i class="fa fa-star" aria-hidden="true"></i></button>
    </span>
    <div>
      <small class="text-muted">
        {% case include.candidate.audience %}
        {% when "Beginner" %} Beginner
        {% when "Intermediate" %} Intermediate
        {% when "Advanced" %} Advanced
        {% endcase %}
      </small>
      <!-- タグにカンマが含まれている場合、分割して表示 -->
      {% for tag in include.candidate.tags %}
        {% if tag contains ',' %}
          {% assign items = tag | split:"," %}
          {% for item in items %}
          <span class="cfp-tag label label-default" data-tag="{{item}}">{{item}}</span>
          {% endfor %}
        {% else %}
          <span class="cfp-tag label label-default" data-tag="{{tag}}">{{tag}}</span>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="col-sm-4">
    {% if include.candidate.icon %}
      <img src="{{ include.candidate.icon }}" class="icon-mini">
    {% else %}
      <img src="/img/common/no_img.png" class="icon-mini">
    {% endif %}
    {{ include.candidate.name }}
  </div>
</div>
