---
title: Candidate sessions
layout: default_en
---

<div class="alert alert-info" role="alert">
  The following are the candidate sessions. ScalaMatsuri selects sessions using as a reference participants voting later.
</div>
<div class="alert alert-info" role="alert">
  Application and voting for the presentation sessions has been terminated. Please wait for summary and announcement.
</div>
<div class="text-right">
<a class="twitter-share-button"
  href="https://twitter.com/intent/tweet"
  data-via="{{ site.en.twitter }}"
  data-related="{{ site.en.twitter }}"
  data-hashtags="ScalaMatsuri">Tweet</a>
</div>

<div class="cfp-tag-list"></div>

<div class="cfp-voting-required-signin text-right">
  <p>
    <button id="filter-favorites" type="button" class="btn btn-default"><i class="fa fa-thumb-tack" style="color: #000099;" title="Pinned"></i> Show pinned</button>
    <button id="unfilter-favorites" type="button" class="btn btn-default active"><i class="fa fa-thumb-tack" style="color: #000099;" title="Pinned"></i> Show pinned</button>
    <button id="filter-voted" type="button" class="btn btn-default"><i class="fa fa-star" style="color: #eedd00;" title="voted"></i> Show voted</button>
    <button id="unfilter-voted" type="button" class="btn btn-default active"><i class="fa fa-star" style="color: #eedd00;" title="voted"></i> Show voted</button>
  </p>
  <p>
    <span class="badge" id="voted-count"></span> voted / <span class="badge" id="max-voting"></span> votable <br />
  </p>
</div>

<h2>90-minute sessions in English</h2>
<div class="shuffle-session">
	{% assign has_90en = false %}
	{% for candidate in site.candidates_en %}
	  {% if candidate.length == 90 and candidate.language == "English" %}
	      {% include_relative element.html candidate=candidate %}
	          {% assign has_90en = true %}
		    {% endif %}
		    {% endfor %}
</div>
{% unless has_90en %}
  <div class="text-muted">No candidates yet</div>
  {% endunless %}

<h2>90-minute sessions in Japanese</h2>
<div class="shuffle-session">
	  {% assign has_90ja = false %}
	  {% for candidate in site.candidates_en %}
	    {% if candidate.length == 90 and candidate.language != "English" %}
	        {% include_relative element.html candidate=candidate %}
		    {% assign has_90ja = true %}
		      {% endif %}
		      {% endfor %}
  </div>
  {% unless has_90ja %}
    <div class="text-muted">No candidates yet</div>
    {% endunless %}


<h2>40-minute sessions in English</h2>
<div class="shuffle-session">
{% assign has_40en = false %}
{% for candidate in site.candidates_en %}
  {% if candidate.length == 40 and candidate.language == "English" %}
    {% include_relative element.html candidate=candidate %}
    {% assign has_40en = true %}
  {% endif %}
{% endfor %}
</div>
{% unless has_40en %}
  <div class="text-muted">No candidates yet</div>
{% endunless %}

<h2>40-minute sessions in Japanese</h2>
<div class="shuffle-session">
{% assign has_40ja = false %}
{% for candidate in site.candidates_en %}
  {% if candidate.length == 40 and candidate.language != "English" %}
    {% include_relative element.html candidate=candidate %}
    {% assign has_40ja = true %}
  {% endif %}
{% endfor %}
</div>
{% unless has_40ja %}
  <div class="text-muted">No candidates yet</div>
{% endunless %}

<h2>10-minute sessions in English</h2>
<div class="shuffle-session">
{% assign has10_en = false %}
{% for candidate in site.candidates_en %}
  {% if candidate.length == 10 and candidate.language == "English" %}
    {% include_relative element.html candidate=candidate %}
    {% assign has10_en = true %}
  {% endif %}
{% endfor %}
</div>
{% unless has10_en %}
  <div class="text-muted">No candidates yet</div>
{% endunless %}

<h2>10-minute sessions in Japanese</h2>
<div class="shuffle-session">
{% assign has10_ja = false %}
{% for candidate in site.candidates_en %}
  {% if candidate.length == 10 and candidate.language != "English" %}
    {% include_relative element.html candidate=candidate %}
    {% assign has10_ja = true %}
  {% endif %}
{% endfor %}
</div>
{% unless has10_ja %}
  <div class="text-muted">No candidates yet</div>
{% endunless %}

<!--
<div class="text-center" style="margin-top: 30px;">
  <a class="btn btn-info btn-lg" href="/en/cfp/">I also want to give a talk!</a>
</div>
-->

<hr>
<!--{% include voting_en.html %}-->

<script src="/js/lodash.min.js"></script>
<script src="/js/cfp-tag.js"></script>

