<section class="sectionStyle5">
  <header class="sectionHeadArea">
    <h2 class="clearfix">
      <span class="ttlSubLCenter">Code of Conduct</span>
      <span class="ttlSubLLeft"><img src="/img/common/ttl_dots_left.png"></span>
      <span class="ttlSubLRight"><img src="/img/common/ttl_dots_right.png"></span>
    </h2>
    <p class="subTtlSm">Don't be a jerk</p>
  </header>
  <div class="sectionStyle1Inner">
    <div class="txtBlock">
      <p>
        ScalaMatsuri is dedicated to providing an open conference for all technologists from various regions and
        communities. We want to make it a fun experience for everyone, regardless of gender, race, and many different
        backgrounds. All participants, including speakers and sponsors, are asked to be respectful to each other and
        follow the Code of conduct.
      </p>
      <p>
        Conference participants violating these rules may be asked to stop the session or leave the conference at the
        sole discretion of the conference organizers. If you have any questions about the Code of conduct, please ask
        us on the <a href="https://docs.google.com/forms/d/1kVRSxCTTwTPh_o2MGi4p-Zy1BoUARAWdwc2nXVkoi-s/viewform">inquiry
        form</a>.
      </p>
    </div>
  </div>
</section>
