<section class="sectionStyle2" id="info">
  <div class="sectionStyle2Inner">
    <header class="sectionHeadArea">
      <h2 class="clearfix">
        <span class="ttlSubLCenter">Event Info</span>
        <span class="ttlSubLLeft"><img src="/img/common/ttl_dots_left.png"></span>
        <span class="ttlSubLRight"><img src="/img/common/ttl_dots_right.png"></span>
      </h2>
      <p class="subTtlSm"></p>
    </header>
    <div class="contArea">
      <table style="margin-bottom: 2em;">
        <tr>
          <th>Dates</th>
          <td>
            27th - 29th June, 2019 in Tokyo (The schedule is tentative.)
          </td>
        </tr>
        <tr>
          <th>Venue</th>
          <td>
            Tokyo International Exchange Center (The venue is tentative.)
          </td>
        </tr>
        <tr>
          <th>Tickets</th>
          <td>
            <!--Please purchase the tickets from <a href='https://scalaconfjp.doorkeeper.jp/events/{{ site.doorkeeper.event.id }}'>DoorKeeper</a>.-->
          </td>
        </tr>
      </table>
      <p>
        We announce the news at <a href="https://twitter.com/scala_jp">twitter</a>
        and <a href="https://www.facebook.com/ScalaMatsuri">facebook</a>.
        Please follow/like.
      </p>
    </div>
  </div>
</section>
