<section class="sectionStyle2" id="info">
  <div class="sectionStyle2Inner">
    <header class="sectionHeadArea">
      <h2 class="clearfix">
        <span class="ttlSubLCenter">Event Info</span>
        <span class="ttlSubLLeft"><img src="/img/common/ttl_dots_left.png"></span>
        <span class="ttlSubLRight"><img src="/img/common/ttl_dots_right.png"></span>
      </h2>
      <p class="subTtlSm"></p>
    </header>
    <div class="contArea">
      <table style="margin-bottom: 2em;">
        <tr>
          <th>Dates</th>
          <td>
            27th - 29th June, 2019 in Tokyo
          </td>
        </tr>
        <tr>
          <th>Venue</th>
          <td>
            <div>
              <a href="http://www.jasso.go.jp/tiec/index_e.html" target="_blank">
                Tokyo International Exchange Center
              </a>
            </div>
            <div class="gmap-wrap">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4726.348770160201!2d139.7801964987376!3d35.62420849277758!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601889fec03298c3%3A0x580ab4984e28a750!2z5p2x5Lqs5Zu96Zqb5Lqk5rWB6aSoIOODl-ODqeOCtuW5s-aIkA!5e0!3m2!1sja!2sjp!4v1521255344640"
                width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
          </td>
        </tr>
        <tr>
          <th>Tickets</th>
          <td>
            <div id="tickets">
              <a class="doorkeeper-registration-widget"
                 href="https://scalaconfjp.doorkeeper.jp/events/{{ site.doorkeeper.event.id }}">
                ScalaMatsuri 2019
              </a>
            </div>
          </td>
        </tr>
      </table>
      <p>
        Please follow us on <a href="https://twitter.com/scala_jp">Twitter</a> or
        <a href="https://www.facebook.com/ScalaMatsuri">Facebook</a> to receive the latest updates.
      </p>
    </div>
  </div>
</section>
