<header class="mainHeader">

  <nav class="gnav pcVer">
    <ul class="clearfix">
      <li><a href="#top">Top</a></li>
      {% for item in site.data.nav_en %}
      <li><a href="{{ item.href }}">{{ item.title }}</a></li>
      {% endfor %}
      <li><a href="/">日本語</a></li>
    </ul>
  </nav>

  <!-- for smart phone -->
  <nav class="gnav smVer">
    <p class="gnavSmClick"><img src="/img/common/icon_menu.png"></p>

    <ul class="clearfix smVerGnav">
      <li><a href="#top">Top</a></li>
      {% for item in site.data.nav_en %}
      <li><a href="{{ item.href }}">{{ item.title }}</a></li>
      {% endfor %}
      <li><a href="/">日本語</a></li>
    </ul>
  </nav>

</header>
