<div>
  <ul class="snsBtnArea clearfix">
    <li class="btnpocket">
      <a data-pocket-label="pocket" data-pocket-count="none" class="pocket-btn" data-lang="en"></a>
    </li>
    <li class="gplusBtn">
      <div class="g-plusone" data-size="medium" data-annotation="none"></div>
    </li>
    <li>
      <a href="https://twitter.com/share"
         class="twitter-share-button"
         data-via="{{ site.en.twitter }}"
         data-related="{{ site.en.twitter }}"
         data-hashtags="ScalaMatsuri"
         data-count="none">
        Tweet
      </a>
    </li>
    <li>
      <div class="fb-like"
           data-href="http://scalamatsuri.org/"
           data-layout="button"
           data-action="like"
           data-show-faces="true"
           data-share="false">
      </div>
    </li>
    <li>
      <a href="http://b.hatena.ne.jp/entry/"
         class="hatena-bookmark-button"
         data-hatena-bookmark-layout="basic"
         title="このエントリーをはてなブックマークに追加">
        <img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png"
             alt="このエントリーをはてなブックマークに追加"
             width="20"
             height="20"
             style="border: none;"/>
      </a>
    </li>
  </ul>
</div>
