<div class="logoArea">

  <!--<h2 class="clearfix">-->
    <!--<span class="ttlSpAreaTop">Shogun sponsor</span>-->
    <!--<span class="linelSpAreaTop"><img src="/img/common/ttl_main_line.png" alt=""/></span>-->
    <!--<span class="linerSpAreaTop"><img src="/img/common/ttl_main_line.png" alt=""/></span>-->
  <!--</h2>-->

  <ul class="clearfix shuffle">
    {% for logo in site.data.logos.shogun %}
    <li><a href="{{ logo.href }}"><img src="{{ logo.img }}" alt="{{ logo.title }}"/></a></li>
    {% endfor %}
  </ul>
</div>
