<section class="sectionStyle3" id="cfp">
    <header class="sectionHeadArea">
        <h2 class="clearfix">
        <span class="ttlSubLCenter">CFP</span>
        <span class="ttlSubLLeft"><img src="img/common/ttl_dots_left.png"></span>
        <span class="ttlSubLRight"><img src="img/common/ttl_dots_right.png"></span>
        </h2>
        <p class="subTtlSm">Call for proposal</p>
    </header>
    <div class="sectionStyle1Inner">
        <div class="txtBlock">
            CFP has been closed. We thank all the people who submitted proposals!
        </div>
    </div>
</section>