<section class="sectionStyleDay0" id="day0">
  <header class="sectionHeadArea">
    <h2 class="clearfix">
      <span class="ttlSubLCenter">ScalaMatsuri Tranining Day</span>
      <span class="ttlSubLLeft"><img src="img/common/ttl_dots_left.png"></span>
      <span class="ttlSubLRight"><img src="img/common/ttl_dots_right.png"></span>
    </h2>
    <p class="subTtlSm">Day Zero</p>
  </header>
  <div class="sectionStyle1Inner">
    <div class="txtBlock">
      <p>
        ScalaMatsuri 2018では初の試みとして、3月16日(金)にScalaMatsuri Tranining Dayを開催します。
      </p>
      <p>
        Scalaに興味があるけど敷居が高いと感じている人に効率よく学べる場としてTranining Dayを開催することで、もっとScalaエンジニアの裾野を広げていきたいと考えています。
      </p>
    </div>
    <h3>ScalaMatsuri Training Dayの特徴</h3>
    <div class="txtBlock">
      <ul>
        <li>
          <p>
            基礎から、初心者がつまずきやすいところ、開発環境などScalaを始める上で必要な情報を１日で学べる
          </p>
        </li>
        <li>
          <p>
            Scalaを採用している企業の制度・風土について知ることが出来る
          </p>
        </li>
        <li>
          <p>
            Scala 入門トラック、ハンズオントラックの2トラック構成で、理論と実践が学べる
          </p>
        </li>
        <li>
          <p>
            分散アーキテクチャやビッグデータなどScalaと関連の深い技術領域の概要や、そこでScalaを採用するメリットについて知ることができる
          </p>
        </li>
      </ul>
    </div>
  </div>
  <div class="sectionTicketInner">
    <div class="txtBlock">
      <p>
        ScalaMatsuri Training Dayへ参加するにはチケットが必要です。
      </p>
      <p>
        購入、詳細は下記のサイトよりお願い致します。
      </p>
    </div>
    <p>
      <a class="doorkeeper-registration-widget"
         href="https://scalaconfjp.doorkeeper.jp/events/{{ site.doorkeeper.day0.id }}">
        ScalaMatsuri 2018 Training Day
      </a>
    </p>
  </div>
</section>
