<section class="sectionInquiry" id="extra-staff">
  <header class="sectionHeadArea">
    <h2 class="clearfix">
      <span class="ttlSubLCenter">当日スタッフ募集</span>
      <span class="ttlSubLLeft"><img src="img/common/ttl_dots_left.png"></span>
      <span class="ttlSubLRight"><img src="img/common/ttl_dots_right.png"></span>
    </h2>
  </header>
  <div class="txtBlock">
    <p>
      ScalaMatsuri 2018では当日スタッフも募集しています。
    </p>
    <p>
      運営にご興味のある方、一緒にScalaMatsuriを盛り上げていきたい方は是非当日スタッフとしてのご参加も検討下さい。
    </p>
    <p>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSc7vfEWRfP4Iv6VIEiUPCpTIvJHzUzyDcwHx_I7FrvVlqA15g/viewform">
        こちらのフォーム
      </a>
      からお申込みください。
    </p>
  </div>
  <div class="txtBlock">
    <p>
      併せて、下記の日程にて当日スタッフ向けの説明会を開催致します。
    </p>
    <div>
      <p class="bold">
        日時: 3/12(月) 19:30 JSTまたは, 3/14(水) 19:30 JST
      </p>
      <p class="bold">
        場所: 株式会社セプテーニ・オリジナル 東京都新宿区西新宿8-17-1(住友不動産新宿グランドタワー27F)
      </p>
    </div>
    <div>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.2364029254927!2d139.68819525080616!3d35.6957997366831!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018f2d4b86fb2e1%3A0x5a545b97cb705331!2z5qCq5byP5Lya56S-44K744OX44OG44O844OL44O744Kq44Oq44K444OK44Or!5e0!3m2!1sja!2sjp!4v1519310922052"
        width="400" height="300" frameborder="0" style="border:0" allowfullscreen>
      </iframe>
    </div>
  </div>
</section>
