<footer class="mainFooter">
  <ul>
    <li><a href="https://github.com/scalajp/2019.scalamatsuri.org">Send a pull request</a></li>
    <li><a href="http://2018.scalamatsuri.org">ScalaMatsuri 2018</a></li>
    <li><a href="http://2017.scalamatsuri.org">ScalaMatsuri 2017</a></li>
    <li><a href="http://2016.scalamatsuri.org">ScalaMatsuri 2016</a></li>
    <li><a href="http://2014.scalamatsuri.org">ScalaMatsuri 2014</a></li>
    <li><a href="http://2013.scalamatsuri.org">Scala Conference in Japan 2013</a></li>
  </ul>

  <p>&copy; 2012 - 2019 ScalaMatsuri Organization | <a href="http://scalajp.github.io/jsa/">Japan Scala Association</a></p>
</footer>
