<!-- start feedwind code -->
<script
  type="text/javascript">document.write('\x3Cscript type="text/javascript" src="' + ('https:' == document.location.protocol ? 'https://' : 'http://') + 'feed.mikle.com/js/rssmikle.js">\x3C/script>');</script>
<script type="text/javascript">(function () {
  var params = {
    rssmikle_url: "{{ include.rss }}",
    rssmikle_frame_width: "360",
    rssmikle_frame_height: "386",
    frame_height_by_article: "0",
    rssmikle_target: "_blank",
    rssmikle_font: "'メイリオ','ＭＳ Ｐゴシック',sans-serif",
    rssmikle_font_size: "12",
    rssmikle_border: "on",
    responsive: "off",
    rssmikle_css_url: "",
    text_align: "left",
    text_align2: "left",
    corner: "off",
    scrollbar: "on",
    autoscroll: "on",
    scrolldirection: "up",
    scrollstep: "3",
    mcspeed: "20",
    sort: "Off",
    rssmikle_title: "on",
    rssmikle_title_sentence: "",
    rssmikle_title_link: "",
    rssmikle_title_bgcolor: "#9ACD32",
    rssmikle_title_color: "#FFFFFF",
    rssmikle_title_bgimage: "",
    rssmikle_item_bgcolor: "#FFFFFF",
    rssmikle_item_bgimage: "",
    rssmikle_item_title_length: "55",
    rssmikle_item_title_color: "#666666",
    rssmikle_item_border_bottom: "on",
    rssmikle_item_description: "on",
    item_link: "off",
    rssmikle_item_description_length: "150",
    rssmikle_item_description_color: "#666666",
    rssmikle_item_date: "ja",
    rssmikle_timezone: "Etc/GMT",
    datetime_format: "",
    item_description_style: "text+tn",
    item_thumbnail: "full",
    item_thumbnail_selection: "auto",
    article_num: "15",
    rssmikle_item_podcast: "off",
    keyword_inc: "",
    keyword_exc: ""
  };
  feedwind_show_widget_iframe(params);
})();</script>
<div style="font-size:10px; text-align:center; width:360px;"><a href="http://feed.mikle.com/" target="_blank"
                                                                style="color:#CCCCCC;">RSS Feed Widget</a>
  <!--Please display the above link in your web page according to Terms of Service.--></div><!-- end feedwind code -->
