<ul class="nav navbar-nav navbar-right" id="cfp-voting-navi">

  <li class="dropdown" id="sign-out" style="display: none;">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><img
      class="icon-mini img-responsive img-rounded" src="/img/common/no_img.png" id="user-pic"></a>
    <ul class="dropdown-menu">
      <li id="user-name"><span class="text"></span></li>
      <li id="ticket-code"><span class="text"></span></li>
      <li>
        <button type="button" class="btn btn-link" id="register-ticket-code-btn">Register Check-In Code</button>
      </li>
      <li>
        <button type="button" class="btn btn-link" id="update-ticket-code-btn">Update Check-In Code</button>
      </li>
      <li>
        <button type="button" class="btn btn-link" id="sign-out-btn">
          <i class="fa fa-sign-out" aria-hidden="true"></i> Sign-Out
        </button>
      </li>
    </ul>
  </li>

  <li class="dropdown" id="sign-in" style="display: none;">
    <button class="dropdown-toggle btn navbar-btn" data-toggle="dropdown" role="button">Sign-In</button>
    <ul class="dropdown-menu">
      <li>
        <a class="btn btn-block btn-social btn-google" id="sign-in-google">
          <span class="fa fa-google"></span> with Google
        </a>
      </li>
      <li>
        <a class="btn btn-block btn-social btn-twitter" id="sign-in-twitter">
          <span class="fa fa-twitter"></span> with Twitter
        </a>
      </li>
      <li>
        <a class="btn btn-block btn-social btn-github" id="sign-in-github">
          <span class="fa fa-github"></span> with GitHub
        </a>
      </li>
    </ul>
  </li>

</ul>
