<section class="sectionInquiry">
  <header class="sectionHeadArea">
    <h2 class="clearfix">
      <span class="ttlSubLCenter">スタッフ募集</span>
      <span class="ttlSubLLeft"><img src="img/common/ttl_dots_left.png"></span>
      <span class="ttlSubLRight"><img src="img/common/ttl_dots_right.png"></span>
    </h2>
  </header>
  <div class="txtBlock">
    <p>
      一緒にScalaMatsuriを盛り上げてくれるスタッフを募集します！
    </p>
    <p>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSeLDXuF3rmMVfWGVnAw6NFcGY8FV2fFFIYpG8hBvnkeqxBYyw/viewform">
        こちらのフォーム
      </a>
      からお申込みください。
    </p>
  </div>
</section>
