<section class="sectionStyle1" id="thanks">
  <div class="sectionStyle1Inner">
    <header class="sectionHeadArea">
      <h2 class="clearfix">
        <span class="ttlSubLCenter">Thank you!</span>
        <span class="ttlSubLLeft"><img src="img/common/ttl_dots_left.png"></span>
        <span class="ttlSubLRight"><img src="img/common/ttl_dots_right.png"></span>
      </h2>
    </header>
    <div class="txtBlock">
      <p>
        ScalaMatsuri 2018 came out to be another successful one thanks in many parts to sponsors, speakers, staffs, and your attendance!
      </p>
      <p>
        We owe you great gratitude, and we hope to see you again next year ❤
      </p>
    </div>
  </div>
</section>
