<section class="sectionStyle1" id="thanks">
  <div class="sectionStyle1Inner">
    <header class="sectionHeadArea">
      <h2 class="clearfix">
        <span class="ttlSubLCenter">開催御礼</span>
        <span class="ttlSubLLeft"><img src="img/common/ttl_dots_left.png"></span>
        <span class="ttlSubLRight"><img src="img/common/ttl_dots_right.png"></span>
      </h2>
    </header>
    <div class="txtBlock">
      <p>
        ScalaMatsuri 2018は参加者、スポンサー、スタッフ等、皆様のおかげで盛況のうちに終了しました。
      </p>
      <p>
        ご来場・ご協力いただいた皆様、ありがとうございました。
      </p>
    </div>
  </div>
</section>
