<section class="sectionTicket" id="tickets">
  <header class="sectionHeadArea">
    <h2 class="clearfix">
      <span class="ttlSubLCenter">票務資訊</span>
      <span class="ttlSubLLeft"><img src="img/common/ttl_dots_left.png"></span>
      <span class="ttlSubLRight"><img src="img/common/ttl_dots_right.png"></span>
    </h2>
    <p class="subTtlSm">Tickets</p>
  </header>
  <div class="sectionTicketInner">
    <div class="txtBlock">
      <p>
        參加活動需要門票。
      </p>
      <p>
        購票及相關資訊請利用下方網站。
      </p>
    </div>
    <p>
      <a class="doorkeeper-registration-widget"
         href="https://scalaconfjp.doorkeeper.jp/events/{{ site.doorkeeper.event.id }}">
        ScalaMatsuri 2018
      </a>
    </p>
  </div>
</section>
