<section class="sectionTicket" id="tickets">
  <header class="sectionHeadArea">
    <h2 class="clearfix">
      <span class="ttlSubLCenter">票务资讯</span>
      <span class="ttlSubLLeft"><img src="img/common/ttl_dots_left.png"></span>
      <span class="ttlSubLRight"><img src="img/common/ttl_dots_right.png"></span>
    </h2>
    <p class="subTtlSm">Tickets</p>
  </header>
  <div class="sectionTicketInner">
    <div class="txtBlock">
      <p>
        参加活动需要门票。
      </p>
      <p>
        购票及相关资讯请利用下方网站。
      </p>
    </div>
    <p>
      <a class="doorkeeper-registration-widget"
         href="https://scalaconfjp.doorkeeper.jp/events/{{ site.doorkeeper.event.id }}">
        ScalaMatsuri 2018
      </a>
    </p>
  </div>
</section>
