<section class="sectionTicket" id="tickets">
  <header class="sectionHeadArea">
    <h2 class="clearfix">
      <span class="ttlSubLCenter">チケット</span>
      <span class="ttlSubLLeft"><img src="img/common/ttl_dots_left.png"></span>
      <span class="ttlSubLRight"><img src="img/common/ttl_dots_right.png"></span>
    </h2>
  </header>
  <div class="sectionTicketInner">
    <div class="txtBlock">
      <p>
        参加するにはチケットが必要です。
      </p>
      <p>
        購入、詳細は下記のサイトよりお願い致します。
      </p>
    </div>
    <p>
      <a class="doorkeeper-registration-widget"
         href="https://scalaconfjp.doorkeeper.jp/events/{{ site.doorkeeper.event.id }}">
        ScalaMatsuri 2018
      </a>
    </p>
  </div>
</section>
