<h3 id="about-voting">About voting</h3>
<p>Here is the general general structure for voting:

  <ul>
    <li>Sessions are voted by early bird ticket holders, sponsors, and staff.</li>
    <li>The voting will be done for the following categories <b>separately</b>: 40-minute talks in English, 40-minute talks in Japanese, 15-minute talks in English, and 15-minute talks in Japanese.</li>
    <li>We will try to select <b>eight</b> 40-minute talks and <b>three</b> 15-minute talks for both the languages. The number may vary depending on the travel budgets.</li>
    <li>Only one session will be offered per person. (You're also welcome to give the second one at the unconference in day 2)</li>
  </ul>

If you decide to submit multiple talks, we recommend submitting 40-minute and 15-minute talks to avoid splitting your votes.
</p>
<p>
While the CFP is open, we'll accept cancellation or modification to the proposal.
For the change or any other questions, please contact us using this
<a
  href="https://docs.google.com/forms/d/1kVRSxCTTwTPh_o2MGi4p-Zy1BoUARAWdwc2nXVkoi-s/viewform">
inquiry form</a>.
We might also contact you to ask about the session or ask to modify the content.
</p>
