<h3 id="about-voting">投票について</h3>
<p>投票は以下の方式で行われます:

  <ul>
    <li>セッションの投票は early bird チケット購入者、スポンサー各社、およびスタッフによって行われます。</li>
    <li>投票は以下の<b>カテゴリ別</b>で行われます: 40分英語セッション、40分日本語セッション、15分英語セッション、15分日本語セッション。</li>
    <li>投票の結果、両言語とも<b>8つ</b>の40分セッションそして<b>3つ</b> の 15分セッションを選出することを目標とします。ただし、数は旅費予算によって変わる可能性があります。</li>
    <li>1人あたり 1つのセッションのみ当選できることとします。(複数発表したい場合は2日目のアンカンファレンスで発表を狙って下さい)</li>
  </ul>

複数のセッションを応募する場合は、票が割れるのを防ぐため 40分と15分を応募することを推奨します。</p>
<p>
CFP 締め切り前ならば、セッションの取り下げや変更にも対応します。 その他にも何かご不明な点があれば
<a href="https://docs.google.com/forms/d/1jzXkQYdEcW9DMWUlXhvGIod5YECKUETNuzVMFeaoR3k/viewform">
こちらのフォーム
</a>からお問い合わせください。
セッションの内容などに関してこちらから質問や変更依頼をすることがあります。
</p>
