{% assign template = include.program.schedule.template %}
{% assign day0 = include.program.day0 %}

<div class="programDailyTable" id="day0Table">
  <h3 id="workshop-day">{{ day0.date }}</h3>
  <p class="txtAbstract">
    {{ day0.abstract }}
  </p>
  <nav class="navLinks day0roomswitch" style="display: none;">
    <ul class="clearfix">
      <li id="day0Switch1"><span>{{ day0.rooms.c.abbr }}</span></li>
      <li id="day0Switch2"><span>{{ day0.rooms.e.abbr }}</span></li>
    </ul>
  </nav>
  <table class="programTable space1area">
    <tr>
      <th class="sectionTimeWidth">{{ schedule.time }}</th>
      <th class="day0RoomC day0RoomWidth">{{ day0.rooms.c.name }}</th>
      <!-- jsの関数が会場名を連続で利用するのを前提としているため、class名と会場名が一致しないのは仕様 -->
      <th class="day0RoomD day0RoomWidth">{{ day0.rooms.e.name }}</th>
    </tr>
    <!-- slot0 -->
    <tr>
      <th>{{ day0.slots[0].time }}</th>
      <td colspan="2">{{ day0.slots[0].rooms.c.title }}</td>
    </tr>
    <!-- slot1 -->
    <tr>
      <th>{{ day0.slots[1].time }}</th>
      <td class="day0RoomC">
        <a class="doorkeeper-registration-widget"
           href="https://scalaconfjp.doorkeeper.jp/events/{{ site.doorkeeper.scala_classroom.id }}">
          {{ day0.slots[1].rooms.c.title }}
        </a>
      </td>
      <td class="day0RoomD">
        {% capture title %}{{ day0.slots[1].rooms.e.title }}{% endcapture %}
        {% include program/slot.html title=title %}
      </td>
    </tr>
  </table>

</div>
