---
layout: default_en
---
<div class="alert alert-info" role="alert">
  This is a candidate session. ScalaMatsuri selects sessions using as a reference participants voting later.
</div>

<div class="clearfix">
{% capture jaUrl %}{{ page.url | replace_first:'/en/','/ja/' }}{% endcapture %}
{% for entry in site.candidates_ja %}
  {% if entry.url == jaUrl %}
    <span class="pull-right">
      <a class="small" href="{{ entry.url }}">日本語</a>
    </span>
  {% endif %}
{% endfor %}
</div>

<h1 class="session_title">{{ page.title }}
<span class="cfp-voting-required-signin">
  <button type="button" class="btn btn-default add-favorites-btn" id="add-favorites-btn" title="Pinning"><i class="fa fa-2x fa-thumb-tack" aria-hidden="true"></i></button>
  <button type="button" class="btn btn-default remove-favorites-btn" id="remove-favorites-btn" title="Remove pin"><i class="fa fa-2x fa-thumb-tack" aria-hidden="true"></i></button>
</span>
</h1>

{{content}}


<dl class="dl-horizontal">
  <dt>Session length</dt>
  <dd>
    {% case page.length %}
    {% when 10 %} 10 minutes
    {% when 40 %} 40 minutes
    {% when 90 %} 90 minutes
    {% else %} {% include __fail.html %} <!-- 空欄になるような場合、エラーに -->
    {% endcase %}
  </dd>

  <dt>Language of the presentation</dt>
  <dd>
    {% case page.language %}
    {% when "Japanese" %} Japanese
    {% when "English" %} English
    {% when "English/Japanese" %} English/Japanese
    {% else %} {% include __fail.html %} <!-- 空欄になるような場合、エラーに -->
    {% endcase %}
  </dd>

  <dt>Target audience</dt>
  <dd>
    {% case page.audience %}
    {% when "Beginner" %} Beginner: No need to have prior knowledge
    {% when "Intermediate" %} Intermediate: Requires a basic knowledge of the area
    {% when "Advanced" %} Advanced: For those who are experts in the field
    {% else %} {% include __fail.html %} <!-- 空欄になるような場合、エラーに -->
    {% endcase %}
  </dd>

  <dt>Who is your session intended to</dt>
  <dd>
    {% for suggestion in page.suggestions %}
      {{ suggestion }}</br>
    {% endfor %}        
  </dd>

  <dt>Speaker</dt>
  <dd>
    {% if page.icon %}
      <img src="{{page.icon}}" class="icon-mini">
    {% endif %}

    {{ page.name }}

    {% if page.organization %}
    ({{ page.organization }})
    {% endif %}

    {% include twitter_icons.html accounts=page.twitter %}
    {% include github_icons.html accounts=page.github %}

  </dd>
</dl>

<div class="text-center">
  <ul class="sns-button-list">
    <li>
      <a class="twitter-share-buttoon"
        href="https://twitter.com/intent/tweet"
        data-url="{{ site.url }}{{ page.url }}"
        data-via="{{ site.en.twitter }}"
        data-hashtags="ScalaMatsuri"
        data-count="vertical"
        data-lang="en"
        data-text="{{ page.title }}">
        Tweet
    </a>
    </li>
    <li>
      <div class="fb-like" 
        data-href="{{ entry.url }}" 
        data-layout="box_count" 
        data-action="like" 
        data-size="small" 
        data-show-faces="false" 
        data-share="false">
      </div>        
    </li>
    <li>
      <div class="fb-share-button" 
        data-href="{{ entry.url }}" 
        data-layout="box_count" 
        data-size="small">
      </div>
    </li>
    <li>
      <a href="http://b.hatena.ne.jp/entry/" 
        class="hatena-bookmark-button" 
        data-hatena-bookmark-layout="vertical-normal" 
        data-hatena-bookmark-lang="en" 
        title="このエントリーをはてなブックマークに追加">
        <img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" 
          alt="このエントリーをはてなブックマークに追加" 
          width="20" 
          height="20" 
          style="border: none;" />
      </a>
    </li>
  </ul>

</div>
<div class="text-center" style="margin-top: 30px;">
	<!-- <a class="btn btn-info btn-lg" href="/en/cfp/">I also want to give a talk!</a> -->
  <span class="cfp-voting-required-signin">
    <button type="submit" class="btn btn-success btn-lg btn-lnk" id="vote-btn" data-language="{{ page.language }}" data-length="{{ page.length }}">Vote this session</button>
    <button type="submit" class="btn btn-danger btn-lg btn-lnk" id="unvote-btn">Cancel voting</button>
  </span>
</div>
<hr>
<div class="cfp-voting-required-signin pull-right text-right">
  <p>
    <span class="badge" id="voted-count"></span> voted / <span class="badge" id="max-voting"></span> votable <br />
  </p>
</div>
<a class="btn btn-default" href="/en/candidates/">
  <span class="glyphicon glyphicon-chevron-left"></span>
  Candidate sessions
</a>
