<section class="sectionStyleCoC">
  <div class="sectionStyle1Inner">
    <div class="txtBlock">
      <p>
        ScalaMatsuri は、様々な地域やコミュニティから集う技術者に対して開かれたカンファレンスを目指しています。
      </p>
      <p>
        特に、性別や人種など、多様な背景を持つ人々が互いに敬意を払って楽しい時間を過ごせるよう、当カンファレンスでは、発表者や参加者、スポンサーの皆様に行動規範を守っていただくようにお願いしています。
      </p>
      <p>
        ScalaMatsuri の主催者は、行動規範の趣旨に反してハラスメント行為を行う参加者に対して、発表の中止や会場からの退出を指示する場合があります。
      </p>
      <p>
        行動規範についてご質問がある場合は、お近くのスタッフまでお問い合わせください。
      </p>
    </div>
  </div>
</section>
