<section class="sectionStyle2" id="info">
  <div class="sectionStyle2Inner">
    <header class="sectionHeadArea">
      <h2 class="clearfix">
        <span class="ttlSubLCenter">開催概要</span>
        <span class="ttlSubLLeft"><img src="/img/common/ttl_dots_left.png"></span>
        <span class="ttlSubLRight"><img src="/img/common/ttl_dots_right.png"></span>
      </h2>
      <p class="subTtlSm">Event Info</p>
    </header>
    <div class="contArea">
      <table style="margin-bottom: 2em;">
        <tr>
          <th>日程</th>
          <td>
            2019年6月27日(木)、6月28日(金)、6月29日(土)
          </td>
        </tr>
        <tr>
          <th>会場</th>
          <td>
		<div>
                  <a href="http://www.jasso.go.jp/tiec/plazaheisei.html" target="_blank">
                    東京国際交流館
                  </a>
                </div>
                <div class="gmap-wrap">
                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4726.348770160201!2d139.7801964987376!3d35.62420849277758!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601889fec03298c3%3A0x580ab4984e28a750!2z5p2x5Lqs5Zu96Zqb5Lqk5rWB6aSoIOODl-ODqeOCtuW5s-aIkA!5e0!3m2!1sja!2sjp!4v1521255344640"
                    width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
	  </td>
        </tr>

        <tr>
          <th>チケット</th>
          <td>
            参加するには発売時期未定のチケットが必要です。発売情報は公式TwitterないしはFacebookアカウントでアナウンスします。
            <!--<a href='https://scalaconfjp.doorkeeper.jp/events/{{ site.doorkeeper.event.id }}'>こちら</a>からご購入下さい。-->
          </td>
        </tr>

      </table>
      <p>
        <a href="https://twitter.com/scala_jp">Twitter</a>や
        <a href="https://www.facebook.com/ScalaMatsuri">Facebook</a>
        でも随時情報を発信していますので、是非フォロー/いいねをお願いします。
      </p>
    </div>
  </div>
</section>
