<section class="sectionStyle2" id="info">
  <div class="sectionStyle2Inner">
    <header class="sectionHeadArea">
      <h2 class="clearfix">
        <span class="ttlSubLCenter">開催概要</span>
        <span class="ttlSubLLeft"><img src="/img/common/ttl_dots_left.png"></span>
        <span class="ttlSubLRight"><img src="/img/common/ttl_dots_right.png"></span>
      </h2>
      <p class="subTtlSm">Event Info</p>
    </header>
    <div class="contArea">
      <table style="margin-bottom: 2em;">
        <tr>
          <th>日程</th>
          <td>
            2019年6月27日(金)、6月28日(土)、6月29日(日)(開催日は変更の可能性があります)
          </td>
        </tr>
        <tr>
          <th>会場</th>
          <td>東京国際交流館(仮)</td>
        </tr>

        <tr>
          <th>チケット</th>
          <td>
            参加にはチケットが必要です。
            <!--<a href='https://scalaconfjp.doorkeeper.jp/events/{{ site.doorkeeper.event.id }}'>こちら</a>からご購入下さい。-->
          </td>
        </tr>

      </table>
      <p>
        <a href="https://twitter.com/scala_jp">twitter</a>や
        <a href="https://www.facebook.com/ScalaMatsuri">facebook</a>
        でも随時情報を発信していますので、是非フォロー/いいねをお願いします。
      </p>
    </div>
  </div>
</section>
