<section class="sectionTicket" id="scala-bridge">
  <header class="sectionHeadArea">
    <h2 class="clearfix">
      <span class="ttlSubLCenter">ScalaBridge</span>
      <span class="ttlSubLLeft"><img src="img/common/ttl_dots_left.png"></span>
      <span class="ttlSubLRight"><img src="img/common/ttl_dots_right.png"></span>
    </h2>
  </header>
  <div class="sectionTicketInner">
    <div class="txtBlock">
      <p>
        今年の新たな試みとしてScalaMatsuri最終日(アンカンファレンスDAY)に ScalaBridge Tokyo を開催いたします。
      </p>
      <p>
        ScalaBridgeは<a href="http://www.scalabridge.org/">女性やマイノリティのエンジニア向けのワークショップ</a>として海外で開催されてきたワークショッププログラムです。
      </p>
    </div>
    <div class="txtBlock">
      <p>
        参加するにはチケット(無料)が必要です。
      </p>
      <p>
        詳細は下記のサイトよりお願い致します。
      </p>
    </div>
    <p>
      <a class="doorkeeper-registration-widget"
         href="https://scalaconfjp.doorkeeper.jp/events/{{ site.doorkeeper.scala_bridge.id }}">
        ScalaBridge
      </a>
    </p>
  </div>
</section>
